<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Member Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% bookings.forEach((booking, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>#<%= booking.invoice %></td>
            <td><%= booking.bookingStartDate.toLocaleString('id',{year: 'numeric', month: 'numeric', day: 'numeric'}) %>
              -
              <%= booking.bookingEndDate.toLocaleString('id',{year: 'numeric', month: 'numeric', day: 'numeric'}) %>
            </td>
            <td><%= booking.itemId.title %></td>
            <td><%= booking.memberId.firstName %> <%= booking.memberId.lastName %></td>
            <td><%= booking.payment.status %></td>
            <td>
              <a href="/admin/booking/<%= booking.id %>" class="btn btn-sm btn-success btn-circle btn-update">
                <i class="fas fa-eye"></i>
              </a>
            </td>
          </tr>
          <%}); %>
        </tbody>
      </table>
    </div>
  </div>
</div>