<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#addModal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach((category, index) => {%>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= category.name %></td>
            <td>
              <form
                action="/admin/category/<%= category.id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href=""
                  type="button"
                  class="btn btn-sm btn-warning btn-circle btn-update"
                  data-toggle="modal"
                  data-target="#editModal"
                  data-id="<%= category.id %>"
                  data-name="<%= category.name %>"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <button class="btn btn-sm btn-danger btn-circle">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
        <!-- <tfoot>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
</div>
