<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Bank</th>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% banks.forEach((bank, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= bank.nameBank %></td>
            <td><%= bank.accountNumber %></td>
            <td><%= bank.accountName %></td>
            <td>
              <img src="https://admin-vacastay-travel-web.herokuapp.com/<%= bank.imageUrl %>" alt="bank-image"
                width="100" />
            </td>
            <td>
              <form action="/admin/bank/<%= bank.id %>?_method=DELETE" method="POST">
                <a href="" type="button" class="btn btn-sm btn-warning btn-circle btn-update" data-toggle="modal"
                  data-target="#editModal" data-id="<%= bank.id %>" data-namebank="<%= bank.nameBank %>"
                  data-accountnumber="<%= bank.accountNumber %>" data-accountname="<%= bank.accountName %>">
                  <i class="fas fa-edit"></i>
                </a>
                <button class="btn btn-sm btn-danger btn-circle">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <%}); %>
        </tbody>
      </table>
    </div>
  </div>
</div>