<div class="tab-pane fade show active" id="show-feature" role="tabpanel" aria-labelledby="home-tab">
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <form action="/admin/item/add/feature" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="form-group">
                <label for="featureName">Feature Name</label>
                <input type="text" class="form-control" id="featureName" placeholder="Enter Feature Name"
                  name="featureName" required />
              </div>
              <div class="form-group">
                <label for="qty">QTY</label>
                <input type="number" class="form-control" id="qty" placeholder="Enter QTY" name="qty" required />
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image" required />
              </div>
              <div class="form-group">
                <input type="hidden" class="form-control" id="itemId" name="itemId" value="<%= itemId %>" hidden />
              </div>
            </div>
            <div class="modal-footer justify-content-start">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>

        <div class="col-md-7">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Feature Name</th>
                  <th>QTY</th>
                  <th>Image URL</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% features.forEach((feature, index) => {%>
                <td><%= index + 1 %></td>
                <td><%= feature.name %></td>
                <td><%= feature.qty %></td>
                <td>
                  <img src="http://localhost:3000/<%= feature.imageUrl %>" alt="<%= feature.name %>-img" />
                </td>
                <td>
                  <form action="/admin/item/delete/feature/<%= itemId %>/<%= feature.id %>?_method=DELETE"
                    method="POST">
                    <a href="" type="button" class="btn btn-sm btn-warning btn-circle btn-update" data-toggle="modal"
                      data-target="#editModalFeature" data-id="<%= feature.id %>" data-namefeature="<%= feature.name %>"
                      data-qty="<%= feature.qty %>">
                      <i class="fas fa-edit"></i>
                    </a>
                    <button class="btn btn-sm btn-danger btn-circle">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>